<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
    </head>
<body>
<h1>Password generator</h1>
<div class="container text-center">
<form action= "{% url 'password' %}">
    <select name="length">
        <option value="6">6 char long</option>
        <option value="7">7 char long</option>
        <option value="8">8 char long</option>
        <option value="9">9 char long</option>
        <option value="10">10 char long</option>
        <option value="11">11 char long</option>
        <option value="12" selected="selected">12 char long</option>
        <option value="13">13 char long</option>
        <option value="14">14 char long</option>
    </select> Length
    <br>
    <input type="checkbox" name="uppercase"> Uppercase
    <br>
     <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
     <br>
    <input type="checkbox" name="special"> Special Characters
    <br>
    <input type="submit" value="Generated password" class="btn btn-primary">
</form>
</div>
<a href="{% url 'about' %}">About</a>
</body>
</html>